@tailwind base;
@tailwind components;
@tailwind utilities;

.prose-editor .ProseMirror {
  min-height: 60vh;
  outline: none;
}
.prose-editor .ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  color: var(--wv-muted);
}
